@model IEnumerable<Translator.Models.Translation>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
 <label id="Label1">Английский</label> @Html.ActionLink("Сменить язык", "Create") <label id="Label1">Русский</label>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.EnglishWord)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RussianWord)
        </th>
        <th></th>
    </tr>
    
@foreach (var item in Model) {
    <tr>
        <td>
          @item.EnglishWord.Word
        </td>
       <td>
           @item.RussianWord.Word
           </td>
    </tr>
}

</table>
